<section class="hp-header">
  <div class="hero-container">
    <div class="hero">
      <div class="hero-content">
        <h1 span class="headline1">This text will make you hungry</span>
        <br>
        <h2 span class="headline2">So you will want to click the button under me</span>
        <br>
        <%= link_to 'Action Button', '#', class: 'btn btn-primary hp-button' %>
      </div>
    </div>
  </div>
</section>

<section class="hp-content">
  <div class="hp-chef-index">
    <% Chef.all.each do |chef| %>
      <h3>

        <%= link_to chef.name, '#' %>
      </h3>
    <% end %>
  </div>
</section>