<div class="hero">
  <div class="container">
    <div class="col-12 align-left">
      <br>
      <br>
      <h1>This text will make you hungry</h1>
      <br>
      <h2>So you will want to click the button under me</h2>
      <br>
      <%= link_to 'Action Button', '#', class: 'btn btn-primary' %>
    </div>
  </div>
</div>