<h1>My Dashboard</h1>

<%= link_to 'Create Profile', new_chef_profile_path(chef_id: current_user.id), class: 'nav-link' %>

<%= link_to 'View Profile', chef_profile_path(chef_id: current_user.id), class: 'nav-link' %>