@import "bootstrap";

/*Fonts*/
h1 {
  font-family: 'sweet__saltyregular';
  font-size: 55px;
}

h2 {
  font-family: 'Omnes Light';
  font-size: 25px;
}


/*Navagation*/

.navbar {
  font-family: 'proxima_nova_cn_ltlight';
  
}

/*maybe .navbar-inverse a.navbar-brand */
.navbar-inverse .navbar-brand {
     
}